.page-title {
    font-family: $big-noodle-tilting;
    font-weight: 400;
    font-size: $type-size-800;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: $dark-blue;
    line-height: 1.125em;

    @include desktop-small {
        font-size: $type-size-1000;
    }
}

.section-title {
    font-weight: 900;
    font-size: $type-size-400;
    color: $blue-muted;
    line-height: 1.125em;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    &:after {
        display: block;
        content: "";
        width: 1.5rem;
        height: 0.25rem;
        background: $blue-muted;
        margin-top: 0.5rem;
    }

    &.align-center {
        text-align: center;

        &:after {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.white {
        color: $white;

        &:after {
            background: $white;
        }
    }

    &.orange {
        color: $orange-muted;

        &:after {
            background: $orange-muted;
        }
    }

    &.dark-blue {
        color: $dark-blue;

        &:after {
            background: $dark-blue;
        }
    }
}
