.index-of-floodplain-health {
    @include section-spacing;
    align-items: center;
    gap: 4rem 2rem;
    background: $off-white;

    .card {
        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 5;
        }

        ul {
            li + li {
                padding-top: 1rem;
            }
        }
    }

    .graphic {
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 8 / span 6;
        }

        .wheel-graphic {
            width: 100%;
            max-width: 32rem;

            & > g:hover {
                cursor: pointer;
            }
        }
    }
}
