.shared-monitoring-plan {
    @include section-spacing-bottom;
    align-items: center;
    gap: 4rem 2rem;

    .card {
        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 10 / span 4;
            grid-row: 1;
        }
    }

    .graphic {
        @include tablet-small {
            grid-column: 3 / span 6;
        }
        @include desktop-small {
            grid-column: 2 / span 7;
            grid-row: 1;
        }

        img {
            mix-blend-mode: multiply;
        }
    }
}
