article.success_stories {
    @include section-spacing-bottom;
    gap: 2rem;

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .page-header {
        padding-bottom: 0;
        margin-bottom: -1rem;

        .meta {
            display: flex;
            align-items: flex-end;

            span,
            a {
                display: block;
                color: $green-muted;
                font-size: $type-size-300;
            }

            .section {
                font-weight: bold;
                padding-right: 0.25rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            .divider {
                padding-right: 0.25rem;
                opacity: 0.5;
            }
        }
    }

    .featured-photo {
        aspect-ratio: 16 / 9;
        @include cover-fill-image;
    }

    .copy {
        @include desktop-small {
            grid-column: 3 / span 8;
        }

        ul,
        ol {
            padding-left: 3rem;
        }
    }
}
