.recent {
    background-color: $off-white;
    @include section-spacing;

    .post-grid {
        display: grid;
        gap: 2rem;

        @include tablet-small {
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    article.success_stories {
        padding-bottom: 0;

        @include tablet-small {
            grid-column: span 2;
        }

        &:nth-child(3) {
            @include tablet-small {
                grid-column: 2 / span 2;
            }

            @include desktop-small {
                grid-column: span 2;
            }
        }

        .photo {
            aspect-ratio: 16 / 9;

            @include cover-fill-image;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .info {
            padding-top: 0.5rem;
        }

        .headline {
            h3 {
                line-height: 1.25em;
                font-size: $type-size-300;

                a {
                    color: $green-muted;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
