$spacer: clamp(2.5rem, 10vh, 5rem);
$spacer-desktop: clamp(5rem, 15vh, 7.5rem);

@mixin section-spacing($prop: padding) {
    #{$prop}-top: $spacer;
    #{$prop}-bottom: $spacer;

    @include desktop-small {
        #{$prop}-top: $spacer-desktop;
        #{$prop}-bottom: $spacer-desktop;
    }
}

@mixin section-spacing-top($prop: padding) {
    #{$prop}-top: $spacer;

    @include desktop-small {
        #{$prop}-top: $spacer-desktop;
    }
}

@mixin section-spacing-bottom($prop: padding) {
    #{$prop}-bottom: $spacer;

    @include desktop-small {
        #{$prop}-bottom: $spacer-desktop;
    }
}
