.glossary {
    @include section-spacing;

    .section-header {
        @include tablet {
            grid-column: 3 / span 6;
            padding-bottom: 3rem;
        }

        @include desktop-small {
            grid-column: 3 / span 8;
        }

        h2 {
            color: $blue;
            text-transform: unset;
            letter-spacing: unset;
            font-size: $type-size-600;

            &:after {
                background: $blue;
            }
        }
    }

    &-list {
        list-style: none;
        padding: 0;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 8;
        }
    }

    .entry {
        & + .entry {
            padding-top: 1.5rem;
            border-top: 1px solid rgba(#000, 0.05);
            margin-top: 1.5rem;
        }

        &.open {
            .word {
                color: $green-muted;

                svg {
                    transform: translateY(2px) rotate(45deg);
                }
            }

            .description {
                display: block;
            }
        }
    }

    .word {
        font-weight: 500;
        font-size: $type-size-400;
        transition: all 200ms ease;
        display: flex;
        align-items: center;

        @include tablet {
            font-size: $type-size-500;
        }

        svg {
            transform: translateY(2px);
            width: 1rem;
            height: 1rem;
            transition: all 200ms ease;
            margin-left: 0.75rem;
        }

        &:hover {
            color: $green-muted;
            cursor: pointer;
        }
    }

    .description {
        padding-top: 0.5rem;
        display: none;
    }
}
