section.topics {
    @include section-spacing-top;

    .topic {
        padding: clamp(3rem, 10vh, 6rem) 0;

        &:nth-child(odd) {
            background: $off-white;

            .copy {
                @include desktop-small {
                    grid-column: 2 / span 4;
                }
            }

            .video {
                @include desktop-small {
                    grid-column: 6 / span 8;
                }
            }
        }
    }

    .section-header {
        display: flex;
        align-items: center;

        .icon {
            width: 2.5rem;
        }

        h3 {
            padding-left: 1rem;
            font-size: $type-size-600;
            font-weight: normal;
        }
    }

    .copy {
        padding-top: 1rem;

        @include desktop-small {
            padding-top: 0;
            grid-column: 10 / span 4;
            grid-row: 2;
        }
    }

    .video {
        aspect-ratio: 16 / 9;
        @include desktop-small {
            grid-column: 2 / span 8;
            grid-row: 2;
        }

        iframe {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
