.work-tabs {
    padding: $section-spacing;

    .tab-list {
        border-color: $dark-blue;
    }

    .tab-list a {
        border-color: $dark-blue;
        color: $dark-blue;
    }

    .tab-list a[aria-selected="true"],
    .tab-list a:hover {
        background-color: $dark-blue;
        color: $white;
    }

    .tab-panel {
        padding-top: 1rem;
    }
}

.work-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
}

.tab-header {
    padding: 1rem;
    background: rgba($dark-blue, 0.1);
    border: 1px solid rgba($dark-blue, 0.3);
    border-radius: 4px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: $type-size-200;
    letter-spacing: 0.05em;
    color: $dark-blue;
}

.no-results {
    grid-column: 1 / -1;
}

.filter {
    label {
        display: block;
        text-transform: uppercase;
        font-size: $type-size-050;
        letter-spacing: 0.05em;
        font-weight: bold;
        padding-bottom: 0.25rem;
    }

    select {
        min-width: 12rem;
    }
}

.work-item {
    border: 2px solid $green-muted;
    border-radius: 0.25rem;
    box-shadow: unset;

    &__headline {
        padding: 1.5rem;
        background: $green-muted;
    }

    &__title {
        font-size: $type-size-300;
        font-weight: 400;
        line-height: 1.25em;
        color: $white;
    }

    .copy {
        & > * + * {
            margin-top: 1rem;
        }

        a {
            color: $dark-blue;
            font-weight: bold;
        }
    }

    .card__body {
        padding: 1.5rem 1.5rem;
    }
}
