.projects-sidebar {
    background: #fafafa;
    padding: 2rem;
    margin-top: 3rem;
    max-width: 30rem;
    width: 100%;

    @include desktop-small {
        margin: 0;
        grid-row: 1 / span 3;
        grid-column: 10 / span 4;
    }

    @include desktop-medium {
        grid-column: 11 / span 3;
    }

    .sidebar-header {
        padding-bottom: 1rem;

        h3 {
            font-size: $type-size-400;
        }
    }

    .project-group {
        & + .project-group {
            margin-top: 1.5rem;

            .header {
                padding-top: 1.5rem;
                border-top: 1px solid rgba($blue-muted, 0.25);
            }
        }

        .header {
            padding-bottom: 0.5rem;

            h4 {
                font-size: $type-size-200;
                font-weight: bold;
                color: $blue;

                &:before {
                    display: inline-block;
                    padding-right: 0.25rem;
                    content: "+";
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .copy {
            display: none;


            li + li {
                margin-top: 0.25rem;
            }
            
            .project-link {
                text-decoration: none;
                color: rgba($blue, 0.8);
                transition: all 0.2s ease;

                &:hover {
                    text-decoration: underline;
                    color: $blue;
                }

                &.current {
                    font-weight: bold;
                }
            }
        }

        &.active {
            h4 {
                &:before {
                    content: "–";
                }
            }

            .copy {
                display: block;
            }
        }
    }
}