@charset "UTF-8";
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

section, div, article {
  position: relative;
}

ul, ol {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 1.25rem;
          padding-inline-start: 1.25rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=navigation],
ol[role=navigation] {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul[role=navigation] li,
ol[role=navigation] li {
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "BigNoodleTitling";
  src: url("../src/fonts/BigNoodleTitling.woff2") format("woff2"), url("../src/fonts/BigNoodleTitling.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BigNoodleTitling";
  src: url("../src/fonts/BigNoodleTitling-Oblique.woff2") format("woff2"), url("../src/fonts/BigNoodleTitling-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Lato", sans-serif;
  color: #444;
}

::-moz-selection {
  background: #2d5c88;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #2d5c88;
  color: #fff;
  text-shadow: none;
}

a {
  color: #444;
  text-decoration: none;
  transition: all 0.2s ease;
}

.page-title {
  font-family: "BigNoodleTitling", sans-serif;
  font-weight: 400;
  font-size: clamp(2.16rem, 1.85rem + 1.54vw, 2.81rem);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #396c83;
  line-height: 1.125em;
}
@media screen and (min-width: 992px) {
  .page-title {
    font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.04rem);
  }
}

.section-title {
  font-weight: 900;
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  color: #759aaf;
  line-height: 1.125em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.section-title:after {
  display: block;
  content: "";
  width: 1.5rem;
  height: 0.25rem;
  background: #759aaf;
  margin-top: 0.5rem;
}
.section-title.align-center {
  text-align: center;
}
.section-title.align-center:after {
  margin-left: auto;
  margin-right: auto;
}
.section-title.white {
  color: #fff;
}
.section-title.white:after {
  background: #fff;
}
.section-title.orange {
  color: #bd9657;
}
.section-title.orange:after {
  background: #bd9657;
}
.section-title.dark-blue {
  color: #396c83;
}
.section-title.dark-blue:after {
  background: #396c83;
}

.copy.extended > * + * {
  margin-top: 1.5rem;
}
.copy.extended li + li {
  padding-top: 0.75rem;
}
.copy.extended ul,
.copy.extended ol {
  max-width: 720px;
}
.copy.copy-1 {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  line-height: 1.675em;
}
.copy.copy-2 {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  line-height: 1.5em;
}
.copy.copy-3 {
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  line-height: 1.5em;
}
.copy a {
  color: #2d5c88;
  text-decoration: underline;
}

.site-content {
  min-height: clamp(20rem, 90vh, 50rem);
}

.grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
  }
}
.grid > * {
  grid-column: 2/span 4;
}
@media screen and (min-width: 480px) {
  .grid > * {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 992px) {
  .grid > * {
    grid-column: 2/span 12;
  }
}

.page-header {
  padding: clamp(3rem, 7vh, 4rem) 0 clamp(1.5rem, 3.5vh, 2rem) 0;
}
.page-header h1 {
  padding-bottom: 0.5rem;
  border-bottom-width: 0.5rem;
  border-bottom-style: solid;
  margin-bottom: 1rem;
}

.section-header {
  padding-bottom: 1.5rem;
}

.cta .btn {
  display: inline-block;
  background: #8bc53f;
  color: #fff;
  font-weight: bold;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1em;
  padding: 1rem 1.5rem 0.875rem 1.5rem;
  transition: all 250ms ease;
}
@media screen and (min-width: 768px) {
  .cta .btn {
    font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
    padding: 1.25rem 2rem;
  }
}
.cta .btn:hover {
  transform: translateY(-1px);
}
.cta .btn.white-outline {
  background: transparent;
  border-radius: 3px;
  border: 2px solid #fff;
}
.cta .btn.small {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  padding: 0.875rem 1.25rem 0.75rem 1.25rem;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
}
.card-header {
  color: #fff;
  padding: 2rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
.card-header h3 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  font-weight: normal;
}
.card-body {
  padding: 2rem;
}
.card-body li + li {
  margin-top: 0.25rem;
}
.card-small .card-header {
  padding: 1rem 2rem;
}
.card.blue .card-header {
  background: #759aaf;
}
.card.blue .card-body a {
  color: #759aaf;
}
.card.green .card-header {
  background: #7c986a;
}
.card.green .card-body a {
  color: #7c986a;
}
.card.orange .card-header {
  background: #bd9657;
}
.card.orange .card-body a {
  color: #bd9657;
}

body .fslightbox-container {
  background: rgba(0, 0, 0, 0.5);
}

.tabs .tab-list {
  display: flex;
  align-items: flex-end;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  overflow-x: scroll;
}
.tabs .tab-list a {
  display: block;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  letter-spacing: 0.075em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-width: 2px;
  border-style: solid;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  white-space: nowrap;
  margin-left: 0.5rem;
}
.tabs .tab-list a[aria-selected=true], .tabs .tab-list a:hover {
  color: #fff;
}
.tabs .tab-panel {
  padding-top: 2rem;
  min-height: 50vh;
}

.site-header {
  border-top: 0.5rem solid #759aaf;
  padding: 2rem 0;
  align-items: center;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.05);
}
.site-header .site-logo {
  grid-column: 2/span 3;
}
@media screen and (min-width: 480px) {
  .site-header .site-logo {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  .site-header .site-logo {
    width: auto;
    grid-column: 2/span 3;
  }
}
.site-header .site-logo a {
  display: block;
  max-width: 18rem;
}
.site-header nav.desktop-nav {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header nav.desktop-nav {
    display: block;
    grid-column: 5/span 9;
    margin-left: auto;
  }
}
.site-header nav.desktop-nav .main-nav {
  display: flex;
  align-items: center;
}
.site-header nav.desktop-nav .first-level {
  padding: 1rem 0;
}
.site-header nav.desktop-nav .first-level + .first-level {
  margin-left: max(1.25rem, 3vw);
}
.site-header nav.desktop-nav .first-level .main-link {
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  display: flex;
  align-items: center;
  color: #396c83;
  white-space: nowrap;
}
@media screen and (min-width: 1280px) {
  .site-header nav.desktop-nav .first-level .main-link {
    font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  }
}
.site-header nav.desktop-nav .first-level .main-link:hover {
  text-decoration: underline;
}
.site-header nav.desktop-nav .first-level .header-link:after {
  content: "";
  display: block;
  background: url(../src/images/down-arrow.svg) no-repeat 0 0;
  background-size: contain;
  width: 0.75rem;
  height: 0.5rem;
  margin-left: 0.25rem;
  transform: translateY(1px);
}
@media screen and (min-width: 1280px) {
  .site-header nav.desktop-nav .first-level .header-link:after {
    margin-left: 0.5rem;
    transform: translateY(2px);
  }
}
.site-header nav.desktop-nav .dropdown {
  position: relative;
}
.site-header nav.desktop-nav .dropdown:hover .dropdown-menu {
  opacity: 1;
  height: auto;
  overflow: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.site-header nav.desktop-nav .dropdown-menu {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 5;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  width: 16rem;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.site-header nav.desktop-nav .dropdown-menu .second-level + .second-level {
  border-top: 1px solid rgba(0, 0, 0, 0.03);
}
.site-header nav.desktop-nav .dropdown-menu .sub-link {
  display: block;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  padding: 1rem 1rem;
}
.site-header nav.desktop-nav .dropdown-menu .sub-link:hover {
  color: #2d5c88;
  background: rgba(45, 92, 136, 0.02);
}
.site-header .hamburger {
  grid-column: 5/span 1;
  position: relative;
}
@media screen and (min-width: 480px) {
  .site-header .hamburger {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  .site-header .hamburger {
    display: none;
  }
}
.site-header .hamburger a {
  width: 2rem;
  height: 22px;
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}
.site-header .hamburger a .patty {
  width: 2rem;
  height: 2px;
  background: #2d5c88;
  border-radius: 2px;
  margin-left: auto;
  transition: all 0.2s;
  position: relative;
}
.site-header .hamburger a .patty:after, .site-header .hamburger a .patty:before {
  content: "";
  display: block;
  width: 2rem;
  height: 2px;
  background: #2d5c88;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  transition: all 0.2s;
}
.site-header .hamburger a .patty:before {
  top: -8px;
}
.site-header .hamburger a .patty:after {
  top: 8px;
}

.mobile-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -75vw;
  width: 75vw;
  max-width: 30rem;
  height: 100vh;
  background: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.35) 0px 8px 16px -8px;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    left: -22rem;
    width: 22rem;
  }
}
.mobile-nav-wrapper {
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 4rem;
}
.mobile-nav-wrapper::-webkit-scrollbar {
  display: none;
}
.mobile-nav .site-logo {
  padding: 2rem 1rem 1rem 1rem;
}
.mobile-nav .site-logo a {
  display: block;
}
.mobile-nav .site-logo a img {
  width: clamp(15rem, 20vw, 18rem);
}
.mobile-nav ul.sub-links {
  display: none;
}
.mobile-nav ul.sub-links.active {
  display: block;
}
.mobile-nav ul.sub-links.active .sub-link:last-child {
  padding-bottom: 1rem;
}
.mobile-nav ul li a {
  color: #2d5c88;
  display: block;
  transition: all 0.2s ease-in;
}
.mobile-nav ul li a:hover {
  color: #2d5c88;
}
.mobile-nav ul li.main-link > a {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  padding: 1rem 2rem;
}
.mobile-nav ul li.sub-link > a {
  padding: 0.5rem 1rem 0.5rem 3rem;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  color: #444;
}
.mobile-nav ul li.sub-link > a:hover {
  color: #2d5c88;
}
.mobile-nav ul li .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-nav ul li .section-header .arrow {
  margin-top: 1px;
  display: block;
  width: 0.875rem;
  height: 0.4375rem;
  margin-left: 0.5rem;
}
.mobile-nav ul li .section-header .arrow img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  transition: all 0.2s ease-in;
}
.mobile-nav ul li .section-header:hover .arrow img {
  filter: grayscale(0);
}
.mobile-nav ul li.dropdown.active .section-header {
  color: #2d5c88;
}
.mobile-nav ul li.dropdown.active .section-header .arrow img {
  transform: rotate(180deg);
  filter: grayscale(0);
}

body.nav-overlay-open .site-content,
body.nav-overlay-open .site-footer {
  opacity: 0.25;
}
body.nav-overlay-open .hamburger {
  z-index: 100;
}
body.nav-overlay-open .hamburger a .patty {
  background: none;
}
body.nav-overlay-open .hamburger a .patty:after {
  top: 0;
  transform: rotate(45deg);
}
body.nav-overlay-open .hamburger a .patty:before {
  top: 0;
  transform: rotate(-45deg);
}
body.nav-overlay-open .mobile-nav {
  left: 0;
  opacity: 1;
}

.site-footer {
  background: #759aaf;
  align-items: start;
  padding: clamp(3rem, 10vh, 5rem) 0;
  color: #fff;
}
.site-footer a {
  color: #fff;
}
.site-footer .footer-grid {
  display: grid;
  gap: 4rem;
}
@media screen and (min-width: 480px) {
  .site-footer .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .site-footer .footer-grid {
    gap: 2rem 4rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.site-footer .footer-col .copy {
  max-width: 24rem;
}
.site-footer .footer-col .copy a {
  text-decoration: none;
}
.site-footer .footer-col .copy a:hover {
  text-decoration: underline;
}
.site-footer .footer-col .copy ul {
  margin: 0;
  padding: 0 0 0 1.125rem;
  line-height: 1.25em;
}
.site-footer .footer-col .copy ul li + li {
  padding-top: 0.75rem;
}
.site-footer .footer-headline {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  padding-bottom: 0.75rem;
}
.site-footer .footer-headline:after {
  display: block;
  content: "";
  width: 1rem;
  height: 0.125rem;
  background: #fff;
  margin-top: 0.25rem;
}
.site-footer .site-logo {
  grid-column: 1/-1;
}
.site-footer .site-logo a {
  display: block;
  max-width: 18rem;
  transform: translateX(-0.75rem);
}
.site-footer .contact .detail {
  padding-top: 1.25rem;
}
.site-footer .contact .detail p {
  display: flex;
}
.site-footer .contact .detail p svg {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.75rem;
  margin-top: 0.125rem;
}
.site-footer .copyright {
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 0.75rem;
  grid-column: 1/-1;
}

body.page-template-home section.hero {
  --heroHeight: clamp(400px, 60vh, 600px);
}
@media screen and (min-width: 992px) {
  body.page-template-home section.hero {
    --heroHeight: clamp(400px, 80vh, 800px);
  }
}
body.page-template-home section.hero .swiper {
  height: var(--heroHeight);
}
body.page-template-home section.hero .swiper-button-prev,
body.page-template-home section.hero .swiper-button-next {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  color: #fff;
  width: 2rem;
  height: 3rem;
  transition: all 0.2s ease;
}
body.page-template-home section.hero .swiper-button-prev:hover,
body.page-template-home section.hero .swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.66);
}
body.page-template-home section.hero .swiper-button-prev:after,
body.page-template-home section.hero .swiper-button-next:after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  z-index: 10;
  width: 1.5rem;
  height: 1.5rem;
  top: calc(50% - 0.75rem);
}
body.page-template-home section.hero .swiper-button-prev {
  left: 0;
}
body.page-template-home section.hero .swiper-button-prev:after {
  left: calc(50% - 0.875rem);
  background-image: url(../src/svgs/chevron-left.svg);
}
body.page-template-home section.hero .swiper-button-next {
  right: 0;
}
body.page-template-home section.hero .swiper-button-next:after {
  right: calc(50% - 0.875rem);
  background-image: url(../src/svgs/chevron-right.svg);
}
body.page-template-home section.hero .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.75);
  opacity: 1;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.375rem;
}
body.page-template-home section.hero .swiper-pagination-bullet-active {
  background: #8bc53f;
}
body.page-template-home section.hero .hero-slide {
  display: grid;
  place-items: center center;
}
body.page-template-home section.hero .hero-slide .photo {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  width: 100%;
  height: var(--heroHeight);
}
body.page-template-home section.hero .hero-slide .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.hero .hero-slide .info {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}
body.page-template-home section.hero .hero-slide .info .headline {
  max-width: 60rem;
  margin: 0 auto;
}
body.page-template-home section.hero .hero-slide .info .headline h1 {
  font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.04rem);
  font-weight: normal;
  line-height: 1.125em;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  font-family: "BigNoodleTitling", sans-serif;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.hero .hero-slide .info .headline h1 {
    font-size: clamp(4.11rem, 3.67rem + 2.22vw, 5.04rem);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.hero .hero-slide .info .headline h1 {
    font-size: clamp(5.11rem, 4.67rem + 2.22vw, 6.04rem);
  }
}
body.page-template-home section.hero .hero-slide .info .cta {
  padding-top: 2rem;
}
body.page-template-home section.hero .hero-slide .info .cta .btn {
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
}
body.page-template-home section.hero .hero-slide .info .cta .btn:hover {
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.4);
}
body.page-template-home section.about {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
}
body.page-template-home section.about .about-copy {
  text-align: center;
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
}
@media screen and (min-width: 480px) {
  body.page-template-home section.about .about-copy {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.about .about-copy {
    grid-column: 4/span 8;
  }
}
body.page-template-home section.about .whats-new {
  margin-top: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 480px) {
  body.page-template-home section.about .whats-new {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.about .whats-new {
    grid-column: 4/span 8;
  }
}
body.page-template-home section.about .whats-new a {
  font-weight: bold;
}
body.page-template-home section.links {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
  background: #fafafa;
}
body.page-template-home section.links .link-grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: stretch;
}
body.page-template-home section.links .link-item a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  transition: all 0.2s ease-in;
}
body.page-template-home section.links .link-item a:hover {
  background: rgba(117, 154, 175, 0.1);
}
body.page-template-home section.links .link-item .icon {
  width: 3rem;
}
body.page-template-home section.links .link-item .icon img {
  display: block;
}
body.page-template-home section.links .link-item .info {
  flex: 1;
  padding-left: 1rem;
  min-height: 10rem;
}

body.page-template-about .about-page-header {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
}
body.page-template-about .about-page-header .video {
  aspect-ratio: 16/9;
}
body.page-template-about .about-page-header .video iframe {
  display: block;
  width: 100%;
  height: 100%;
}
body.page-template-about .about-page-header .info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-about .about-page-header .info {
    grid-column: 3/span 8;
    padding-top: 4rem;
  }
}
body.page-template-about .about-page-header .info .headline {
  padding-bottom: 1rem;
}
body.page-template-about .vision-mission {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
  background: #fafafa;
}
@media screen and (min-width: 480px) {
  body.page-template-about .vision-mission > div {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .vision-mission > div {
    border-left: 0.25rem solid;
    padding: 0.5rem 1rem 0.5rem 2rem;
  }
}
body.page-template-about .vision-mission .headline {
  padding-bottom: 0.5rem;
}
body.page-template-about .vision-mission .headline h4 {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
}
@media screen and (min-width: 992px) {
  body.page-template-about .vision-mission .copy {
    max-width: 32rem;
  }
}
body.page-template-about .vision-mission .vision {
  border-left-color: #7c986a;
}
@media screen and (min-width: 992px) {
  body.page-template-about .vision-mission .vision {
    grid-column: 2/span 6;
  }
}
body.page-template-about .vision-mission .vision .headline h4 {
  color: #7c986a;
}
body.page-template-about .vision-mission .mission {
  border-left-color: #759aaf;
  margin-top: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-about .vision-mission .mission {
    margin-top: 0;
    grid-column: 8/span 6;
  }
}
body.page-template-about .vision-mission .mission .headline h4 {
  color: #759aaf;
}
body.page-template-about .goals-strategies {
  padding: clamp(4rem, 15vh, 12rem) 0;
}
body.page-template-about .goals-strategies .content-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@media screen and (min-width: 992px) {
  body.page-template-about .goals-strategies .content-section {
    grid-column: 3/span 10;
  }
}
body.page-template-about .goals-strategies .content-section + .content-section {
  margin-top: 4rem;
}
@media screen and (min-width: 992px) {
  body.page-template-about .goals-strategies .content-section + .content-section {
    margin-top: 8rem;
  }
}
body.page-template-about .goals-strategies .content-section .photo {
  grid-column: 1/-1;
  max-width: 720px;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  body.page-template-about .goals-strategies .content-section .photo {
    max-width: 100%;
    grid-column: 1/span 6;
    grid-row: 1;
  }
}
body.page-template-about .goals-strategies .content-section .info {
  grid-column: 1/-1;
  z-index: 10;
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
  margin: -12.5% 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-about .goals-strategies .content-section .info {
    margin: -12.5% 0 0 0;
    grid-column: 2/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .goals-strategies .content-section .info {
    grid-column: 5/span 4;
    grid-row: 1;
    margin-top: 25%;
  }
}
body.page-template-about .goals-strategies .content-section .info .headline {
  padding: 2rem;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
body.page-template-about .goals-strategies .content-section .info .headline h4 {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  padding-bottom: 0.25rem;
}
body.page-template-about .goals-strategies .content-section .info .headline h5 {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  font-weight: normal;
}
body.page-template-about .goals-strategies .content-section .info .copy {
  padding: 2rem;
}
body.page-template-about .goals-strategies .content-section .info .copy li + li {
  margin-top: 0.25rem;
}
body.page-template-about .goals-strategies .goals .headline {
  background: #759aaf;
}
@media screen and (min-width: 992px) {
  body.page-template-about .goals-strategies .strategies .photo {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-about .goals-strategies .strategies .info {
    margin-top: 50%;
    grid-column: 1/span 4;
  }
}
body.page-template-about .goals-strategies .strategies .headline {
  background: #7c986a;
}
body.page-template-about .partners {
  align-items: center;
  padding: clamp(3rem, 7.5vh, 6rem) 0;
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body.page-template-about .partners:after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.33);
  position: absolute;
  inset: 0;
  z-index: 1;
}
body.page-template-about .partners > div {
  z-index: 5;
}
body.page-template-about .partners .list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: auto;
}
body.page-template-about .partners .partner {
  margin: 0.5rem;
}
body.page-template-about .partners .partner-link {
  display: block;
  color: #fff;
  border: 2px dotted #fff;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  font-weight: bold;
  letter-spacing: 0.02em;
  transition: all 0.2s ease;
  background: rgba(139, 197, 63, 0.15);
}
body.page-template-about .partners .partner-link:hover {
  background: rgba(139, 197, 63, 0.5);
}
body.page-template-about .partners span.partner-link:hover {
  background: rgba(139, 197, 63, 0.15);
  cursor: default;
}

body.page-template-watershed .intro {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-watershed .intro {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-watershed .intro .info {
    grid-column: 3/span 8;
  }
}
body.page-template-watershed .intro .info .headline {
  padding-bottom: 0.5rem;
}
body.page-template-watershed .intro .info .headline h3 {
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  color: #759aaf;
}
body.page-template-watershed .intro .info blockquote {
  background: #bd9657;
  padding: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-watershed .intro .info blockquote {
    float: right;
    width: 25rem;
    margin-right: -10rem;
    margin-left: 2rem;
  }
}
body.page-template-watershed .intro .info blockquote p {
  font-family: "BigNoodleTitling", sans-serif;
  color: #fff;
  font-size: clamp(1.8rem, 1.54rem + 1.29vw, 2.34rem);
  letter-spacing: 0.02em;
  line-height: 1.25em;
}
body.page-template-watershed .map {
  padding-top: clamp(2.5rem, 10vh, 5rem);
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
  background: #fafafa;
}
@media screen and (min-width: 992px) {
  body.page-template-watershed .map {
    padding-top: clamp(5rem, 15vh, 7.5rem);
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
body.page-template-watershed .map .info {
  padding-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-watershed .map .info {
    grid-column: 2/span 7;
  }
}
body.page-template-watershed .map .headline {
  padding-bottom: 0.5rem;
}
body.page-template-watershed .map .headline h3 {
  font-size: clamp(1.8rem, 1.54rem + 1.29vw, 2.34rem);
  color: #7c986a;
}
body.page-template-watershed .map .cta {
  padding-top: 2rem;
}
body.page-template-watershed .map .cta .btn {
  background: #7c986a;
  border-radius: 8px;
}
@media screen and (min-width: 992px) {
  body.page-template-watershed .map .how-to {
    margin-bottom: 2rem;
    grid-column: 10/span 4;
  }
}
body.page-template-watershed .map .photo {
  grid-column: 1/-1;
  padding: 2rem;
}
body.page-template-watershed .map .photo a {
  display: block;
}
body.page-template-watershed .map .photo img {
  width: 100%;
}

body.page-template-integrated-floodplain-management .intro {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
  gap: 2rem;
  align-items: end;
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management .intro {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-integrated-floodplain-management .intro .photo {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management .intro .photo {
    grid-row: 1;
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-integrated-floodplain-management .intro .card {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management .intro .card {
    grid-row: 1;
    grid-column: 9/span 5;
    transform: translateY(8vh);
  }
}
body.page-template-integrated-floodplain-management section.topics {
  padding-top: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management section.topics {
    padding-top: clamp(5rem, 15vh, 7.5rem);
  }
}
body.page-template-integrated-floodplain-management section.topics .topic {
  padding: clamp(3rem, 10vh, 6rem) 0;
}
body.page-template-integrated-floodplain-management section.topics .topic:nth-child(odd) {
  background: #fafafa;
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management section.topics .topic:nth-child(odd) .copy {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management section.topics .topic:nth-child(odd) .video {
    grid-column: 6/span 8;
  }
}
body.page-template-integrated-floodplain-management section.topics .section-header {
  display: flex;
  align-items: center;
}
body.page-template-integrated-floodplain-management section.topics .section-header .icon {
  width: 2.5rem;
}
body.page-template-integrated-floodplain-management section.topics .section-header h3 {
  padding-left: 1rem;
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
  font-weight: normal;
}
body.page-template-integrated-floodplain-management section.topics .copy {
  padding-top: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management section.topics .copy {
    padding-top: 0;
    grid-column: 10/span 4;
    grid-row: 2;
  }
}
body.page-template-integrated-floodplain-management section.topics .video {
  aspect-ratio: 16/9;
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management section.topics .video {
    grid-column: 2/span 8;
    grid-row: 2;
  }
}
body.page-template-integrated-floodplain-management section.topics .video iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body.page-template-integrated-floodplain-management .glossary {
  padding-top: clamp(2.5rem, 10vh, 5rem);
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management .glossary {
    padding-top: clamp(5rem, 15vh, 7.5rem);
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-integrated-floodplain-management .glossary .section-header {
    grid-column: 3/span 6;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management .glossary .section-header {
    grid-column: 3/span 8;
  }
}
body.page-template-integrated-floodplain-management .glossary .section-header h2 {
  color: #2d5c88;
  text-transform: unset;
  letter-spacing: unset;
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
}
body.page-template-integrated-floodplain-management .glossary .section-header h2:after {
  background: #2d5c88;
}
body.page-template-integrated-floodplain-management .glossary-list {
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  body.page-template-integrated-floodplain-management .glossary-list {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-integrated-floodplain-management .glossary-list {
    grid-column: 3/span 8;
  }
}
body.page-template-integrated-floodplain-management .glossary .entry + .entry {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 1.5rem;
}
body.page-template-integrated-floodplain-management .glossary .entry.open .word {
  color: #7c986a;
}
body.page-template-integrated-floodplain-management .glossary .entry.open .word svg {
  transform: translateY(2px) rotate(45deg);
}
body.page-template-integrated-floodplain-management .glossary .entry.open .description {
  display: block;
}
body.page-template-integrated-floodplain-management .glossary .word {
  font-weight: 500;
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  transition: all 200ms ease;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body.page-template-integrated-floodplain-management .glossary .word {
    font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
  }
}
body.page-template-integrated-floodplain-management .glossary .word svg {
  transform: translateY(2px);
  width: 1rem;
  height: 1rem;
  transition: all 200ms ease;
  margin-left: 0.75rem;
}
body.page-template-integrated-floodplain-management .glossary .word:hover {
  color: #7c986a;
  cursor: pointer;
}
body.page-template-integrated-floodplain-management .glossary .description {
  padding-top: 0.5rem;
  display: none;
}

body.post-type-archive-projects .project-group {
  padding-bottom: 6rem;
}
body.post-type-archive-projects .section-header .section-title {
  color: #7c986a;
}
body.post-type-archive-projects .section-header .section-title:after {
  background: #7c986a;
}
body.post-type-archive-projects .section-header .copy {
  padding-top: 1rem;
  max-width: 780px;
}
body.post-type-archive-projects .project-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
body.post-type-archive-projects .project-grid .project .photo {
  aspect-ratio: 16/9;
}
body.post-type-archive-projects .project-grid .project .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.post-type-archive-projects .project-grid .project .photo a {
  display: block;
  width: 100%;
  height: 100%;
}
body.post-type-archive-projects .project-grid .project .info {
  padding-top: 0.5rem;
}
body.post-type-archive-projects .project-grid .project .info h3 {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  line-height: 1.125em;
  font-weight: normal;
}
body.post-type-archive-projects .project-grid .project .info h3 a:hover {
  text-decoration: underline;
}

body.single-projects .project-content {
  padding-bottom: clamp(4rem, 15vh, 8rem);
  align-items: start;
}
body.single-projects .project-content .featured-image {
  margin-bottom: 4rem;
  aspect-ratio: 16/7;
}
body.single-projects .project-content .featured-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  body.single-projects .project-content .featured-image {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 1280px) {
  body.single-projects .project-content .featured-image {
    grid-column: 2/span 9;
  }
}
@media screen and (min-width: 992px) {
  body.single-projects .project-content .copy {
    grid-column: 4/span 6;
  }
}
body.single-projects .before-and-after {
  margin-top: 5rem;
  background: #bd9657;
  padding: 2rem;
}
@media screen and (min-width: 992px) {
  body.single-projects .before-and-after {
    grid-column: 3/span 9;
  }
}
body.single-projects .projects-sidebar {
  background: #fafafa;
  padding: 2rem;
  margin-top: 3rem;
  max-width: 30rem;
  width: 100%;
}
@media screen and (min-width: 992px) {
  body.single-projects .projects-sidebar {
    margin: 0;
    grid-row: 1/span 3;
    grid-column: 10/span 4;
  }
}
@media screen and (min-width: 1280px) {
  body.single-projects .projects-sidebar {
    grid-column: 11/span 3;
  }
}
body.single-projects .projects-sidebar .sidebar-header {
  padding-bottom: 1rem;
}
body.single-projects .projects-sidebar .sidebar-header h3 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
}
body.single-projects .projects-sidebar .project-group + .project-group {
  margin-top: 1.5rem;
}
body.single-projects .projects-sidebar .project-group + .project-group .header {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(117, 154, 175, 0.25);
}
body.single-projects .projects-sidebar .project-group .header {
  padding-bottom: 0.5rem;
}
body.single-projects .projects-sidebar .project-group .header h4 {
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  font-weight: bold;
  color: #2d5c88;
}
body.single-projects .projects-sidebar .project-group .header h4:before {
  display: inline-block;
  padding-right: 0.25rem;
  content: "+";
}
body.single-projects .projects-sidebar .project-group .header:hover {
  cursor: pointer;
}
body.single-projects .projects-sidebar .project-group .copy {
  display: none;
}
body.single-projects .projects-sidebar .project-group .copy li + li {
  margin-top: 0.25rem;
}
body.single-projects .projects-sidebar .project-group .copy .project-link {
  text-decoration: none;
  color: rgba(45, 92, 136, 0.8);
  transition: all 0.2s ease;
}
body.single-projects .projects-sidebar .project-group .copy .project-link:hover {
  text-decoration: underline;
  color: #2d5c88;
}
body.single-projects .projects-sidebar .project-group .copy .project-link.current {
  font-weight: bold;
}
body.single-projects .projects-sidebar .project-group.active h4:before {
  content: "–";
}
body.single-projects .projects-sidebar .project-group.active .copy {
  display: block;
}

body.page-template-data-collection .intro {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
  gap: 2rem;
  align-items: end;
}
@media screen and (min-width: 992px) {
  body.page-template-data-collection .intro {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-data-collection .intro .photo {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-data-collection .intro .photo {
    grid-row: 1;
    grid-column: 3/span 8;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-data-collection .intro .card {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-data-collection .intro .card {
    grid-row: 1;
    grid-column: 9/span 4;
    transform: translateY(8vh);
  }
}
body.page-template-data-collection .projects {
  padding-top: clamp(2.5rem, 10vh, 5rem);
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.page-template-data-collection .projects {
    padding-top: clamp(5rem, 15vh, 7.5rem);
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
body.page-template-data-collection .projects.no-tabs {
  padding-top: 0;
}
body.page-template-data-collection .projects .tab-list {
  border-color: #7c986a;
}
body.page-template-data-collection .projects .tab-list a {
  border-color: #7c986a;
  color: #7c986a;
}
body.page-template-data-collection .projects .tab-list a[aria-selected=true],
body.page-template-data-collection .projects .tab-list a:hover {
  background-color: #7c986a;
  color: #fff;
}
body.page-template-data-collection .projects .section-title {
  color: #444;
}
body.page-template-data-collection .projects .section-title:after {
  background-color: #7c986a;
}
body.page-template-data-collection .projects .project-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
}
body.page-template-data-collection .projects .project {
  padding: 2rem;
  border: 2px dashed rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
body.page-template-data-collection .projects .project .headline {
  padding-bottom: 1rem;
}
body.page-template-data-collection .projects .project .headline h3 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  line-height: 1.25em;
  color: #7c986a;
}
body.page-template-data-collection .projects .project .copy > * + * {
  margin-top: 1rem;
}
body.page-template-data-collection .projects .project .copy a {
  color: #7c986a;
  font-weight: bold;
}
body.page-template-data-collection .request {
  margin-bottom: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.page-template-data-collection .request {
    margin-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
body.page-template-data-collection .request-container {
  background: #bd9657;
  color: #fff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2rem 1fr;
}
@media screen and (min-width: 992px) {
  body.page-template-data-collection .request-container {
    grid-column: 3/span 10;
  }
}
body.page-template-data-collection .request .icon {
  padding-top: 0.25rem;
}
body.page-template-data-collection .request .icon img {
  width: 100%;
}
body.page-template-data-collection .request .headline h3 {
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
}
body.page-template-data-collection .request .copy {
  padding: 0.5rem 0 1.5rem 0;
}
body.page-template-data-collection .request .cta .btn {
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  padding: 1rem 1.25rem 0.875rem 1.25rem;
  border-radius: 8px;
}
body.page-template-data-collection .request .cta .btn:hover {
  background: #fff;
  color: #bd9657;
}

body.post-type-archive-success_stories .post-list {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.post-type-archive-success_stories .post-list {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
body.post-type-archive-success_stories .teaser {
  display: grid;
  gap: 2rem;
  align-items: end;
}
@media screen and (min-width: 768px) {
  body.post-type-archive-success_stories .teaser {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser {
    grid-column: 2/span 12;
    grid-template-columns: repeat(10, 1fr);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser + .teaser {
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser + .teaser {
    padding-top: clamp(5rem, 15vh, 7.5rem);
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser .photo {
    grid-column: 1/span 8;
    grid-row: 1;
  }
}
body.post-type-archive-success_stories .teaser .info {
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
  padding: 2rem;
  margin: 0 1rem;
  transform: translateY(-3.5rem);
}
@media screen and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser .info {
    grid-column: 6/span 5;
    grid-row: 1;
    transform: translateY(6rem);
  }
}
body.post-type-archive-success_stories .teaser .info .date {
  padding-bottom: 0.25rem;
}
body.post-type-archive-success_stories .teaser .info .date h4 {
  text-transform: uppercase;
  color: #bd9657;
  letter-spacing: 0.05em;
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  opacity: 0.75;
}
body.post-type-archive-success_stories .teaser .info .headline {
  padding-bottom: 0.5rem;
}
body.post-type-archive-success_stories .teaser .info .headline h3 {
  line-height: 1.25em;
}
body.post-type-archive-success_stories .teaser .info .headline h3 a {
  color: #396c83;
}
body.post-type-archive-success_stories .teaser .info .headline h3 a:hover {
  text-decoration: underline;
}
body.post-type-archive-success_stories .teaser .info .cta {
  padding-top: 1rem;
}
body.post-type-archive-success_stories .teaser .info .cta .underline {
  display: inline-block;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #7c986a;
  border-bottom: 2px dotted;
}
@media screen and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser:nth-child(odd) .photo {
    grid-column: 3/span 8;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-success_stories .teaser:nth-child(odd) .info {
    grid-column: 1/span 5;
  }
}

body.single-success_stories article.success_stories {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  body.single-success_stories article.success_stories {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 768px) {
  body.single-success_stories article.success_stories > * {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.single-success_stories article.success_stories > * {
    grid-column: 2/span 12;
  }
}
body.single-success_stories article.success_stories .page-header {
  padding-bottom: 0;
  margin-bottom: -1rem;
}
body.single-success_stories article.success_stories .page-header .meta {
  display: flex;
  align-items: flex-end;
}
body.single-success_stories article.success_stories .page-header .meta span,
body.single-success_stories article.success_stories .page-header .meta a {
  display: block;
  color: #7c986a;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
body.single-success_stories article.success_stories .page-header .meta .section {
  font-weight: bold;
  padding-right: 0.25rem;
}
body.single-success_stories article.success_stories .page-header .meta .section:hover {
  text-decoration: underline;
}
body.single-success_stories article.success_stories .page-header .meta .divider {
  padding-right: 0.25rem;
  opacity: 0.5;
}
body.single-success_stories article.success_stories .featured-photo {
  aspect-ratio: 16/9;
}
body.single-success_stories article.success_stories .featured-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  body.single-success_stories article.success_stories .copy {
    grid-column: 3/span 8;
  }
}
body.single-success_stories article.success_stories .copy ul,
body.single-success_stories article.success_stories .copy ol {
  padding-left: 3rem;
}
body.single-success_stories .recent {
  background-color: #fafafa;
  padding-top: clamp(2.5rem, 10vh, 5rem);
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.single-success_stories .recent {
    padding-top: clamp(5rem, 15vh, 7.5rem);
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
body.single-success_stories .recent .post-grid {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 480px) {
  body.single-success_stories .recent .post-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  body.single-success_stories .recent .post-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
body.single-success_stories .recent article.success_stories {
  padding-bottom: 0;
}
@media screen and (min-width: 480px) {
  body.single-success_stories .recent article.success_stories {
    grid-column: span 2;
  }
}
@media screen and (min-width: 480px) {
  body.single-success_stories .recent article.success_stories:nth-child(3) {
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 992px) {
  body.single-success_stories .recent article.success_stories:nth-child(3) {
    grid-column: span 2;
  }
}
body.single-success_stories .recent article.success_stories .photo {
  aspect-ratio: 16/9;
}
body.single-success_stories .recent article.success_stories .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.single-success_stories .recent article.success_stories .photo a {
  display: block;
  width: 100%;
  height: 100%;
}
body.single-success_stories .recent article.success_stories .info {
  padding-top: 0.5rem;
}
body.single-success_stories .recent article.success_stories .headline h3 {
  line-height: 1.25em;
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
}
body.single-success_stories .recent article.success_stories .headline h3 a {
  color: #7c986a;
}
body.single-success_stories .recent article.success_stories .headline h3 a:hover {
  text-decoration: underline;
}

body.page-template-metrics-overview .shared-monitoring-plan {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
  align-items: center;
  gap: 4rem 2rem;
}
@media screen and (min-width: 992px) {
  body.page-template-metrics-overview .shared-monitoring-plan {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 480px) {
  body.page-template-metrics-overview .shared-monitoring-plan .card {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-metrics-overview .shared-monitoring-plan .card {
    grid-column: 10/span 4;
    grid-row: 1;
  }
}
@media screen and (min-width: 480px) {
  body.page-template-metrics-overview .shared-monitoring-plan .graphic {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-metrics-overview .shared-monitoring-plan .graphic {
    grid-column: 2/span 7;
    grid-row: 1;
  }
}
body.page-template-metrics-overview .shared-monitoring-plan .graphic img {
  mix-blend-mode: multiply;
}
body.page-template-metrics-overview .index-of-floodplain-health {
  padding-top: clamp(2.5rem, 10vh, 5rem);
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
  align-items: center;
  gap: 4rem 2rem;
  background: #fafafa;
}
@media screen and (min-width: 992px) {
  body.page-template-metrics-overview .index-of-floodplain-health {
    padding-top: clamp(5rem, 15vh, 7.5rem);
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
@media screen and (min-width: 480px) {
  body.page-template-metrics-overview .index-of-floodplain-health .card {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-metrics-overview .index-of-floodplain-health .card {
    grid-column: 2/span 5;
  }
}
body.page-template-metrics-overview .index-of-floodplain-health .card ul li + li {
  padding-top: 1rem;
}
body.page-template-metrics-overview .index-of-floodplain-health .graphic {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  body.page-template-metrics-overview .index-of-floodplain-health .graphic {
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-metrics-overview .index-of-floodplain-health .graphic {
    grid-column: 8/span 6;
  }
}
body.page-template-metrics-overview .index-of-floodplain-health .graphic .wheel-graphic {
  width: 100%;
  max-width: 32rem;
}
body.page-template-metrics-overview .index-of-floodplain-health .graphic .wheel-graphic > g:hover {
  cursor: pointer;
}

body.page-template-progress .page-header .page-title {
  padding-bottom: 0.5rem;
  border-bottom-width: 0.5rem;
  border-bottom-style: solid;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-progress .page-header .page-title {
    grid-column: 2/span 12;
  }
}
body.page-template-progress .page-header .headline {
  padding-bottom: 3rem;
}
body.page-template-progress .page-header .headline h2 {
  font-weight: 400;
  font-style: italic;
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
}
@media screen and (min-width: 992px) {
  body.page-template-progress .page-header .info {
    grid-column: 2/span 8;
  }
}
body.page-template-progress .page-header .sub-headline {
  display: flex;
  align-items: center;
}
body.page-template-progress .page-header .sub-headline .logo {
  width: 3rem;
}
body.page-template-progress .page-header .sub-headline h2 {
  flex: 1;
  font-weight: normal;
  font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
  padding-left: 1rem;
}
body.page-template-progress .page-header .copy {
  padding-top: 0.5rem;
  padding-left: 4rem;
}
body.page-template-progress .tabs {
  padding-bottom: clamp(2.5rem, 10vh, 5rem);
}
@media screen and (min-width: 992px) {
  body.page-template-progress .tabs {
    padding-bottom: clamp(5rem, 15vh, 7.5rem);
  }
}
body.page-template-progress .tabs .tab-panel .tab-grid {
  display: grid;
  align-items: start;
  gap: 2rem;
  grid-template-columns: repeat(8, 1fr);
}
body.page-template-progress .tabs .tab-panel .tab-grid > * {
  grid-column: 1/-1;
}
@media screen and (min-width: 992px) {
  body.page-template-progress .tabs .tab-panel .basic-info {
    grid-column: 1/span 5;
  }
}
body.page-template-progress .tabs .tab-panel .basic-info .headline {
  padding-bottom: 0.5rem;
}
body.page-template-progress .tabs .tab-panel .basic-info .headline h3 {
  font-weight: normal;
  font-size: clamp(1.25rem, 1.07rem + 0.89vw, 1.63rem);
}
@media screen and (min-width: 992px) {
  body.page-template-progress .tabs .tab-panel .vitals {
    grid-column: 6/span 4;
  }
}
body.page-template-progress .tabs .tab-panel .vitals .vital {
  display: flex;
  padding: 1rem;
}
body.page-template-progress .tabs .tab-panel .vitals .vital:nth-child(odd) {
  background: #fafafa;
}
body.page-template-progress .tabs .tab-panel .vitals .vital .key {
  width: 8rem;
  padding-right: 2rem;
}
body.page-template-progress .tabs .tab-panel .vitals .vital .key h5 {
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  line-height: 1.5em;
}
body.page-template-progress .tabs .tab-panel .vitals .vital .value {
  flex: 1;
  font-size: clamp(0.66rem, 0.58rem + 0.48vw, 0.88rem);
  line-height: 1.5em;
}
body.page-template-progress .tabs .tab-panel .results {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  width: 100%;
}
body.page-template-progress .tabs .tab-panel .results > * {
  max-width: 40rem;
}
body.page-template-progress .tabs .tab-panel .graphs {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
body.page-template-progress .tabs .tab-panel .graphs .graph {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px, rgba(0, 0, 0, 0.05) 0px 18px 36px -18px;
  border-radius: 5px;
}
body.page-template-progress .tabs .tab-panel .graphs img {
  width: 100%;
}
body.page-template-progress .tabs .tab-panel .graphs .caption {
  padding-top: 1rem;
}
body.page-template-progress .tabs .tab-panel .graphs .caption p {
  font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  line-height: 1.5em;
}

body.page-template-resources .intro {
  align-items: end;
}
body.page-template-resources .intro .photo {
  aspect-ratio: 16/9;
}
body.page-template-resources .intro .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body.page-template-resources .intro .photo {
    grid-row: 1;
    grid-column: 3/span 6;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-resources .intro .photo {
    grid-column: 2/span 9;
  }
}
body.page-template-resources .intro .photo img {
  -o-object-position: top center;
     object-position: top center;
}
body.page-template-resources .intro .info {
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
  padding: 2rem;
  margin: 0 1rem;
  transform: translateY(-2rem);
}
@media screen and (min-width: 768px) {
  body.page-template-resources .intro .info {
    margin: 0 2rem;
    grid-row: 1;
    grid-column: 3/span 6;
    transform: translateY(8rem);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-resources .intro .info {
    grid-column: 9/span 5;
    margin: 0;
    transform: translateY(4rem);
  }
}
body.page-template-resources .intro .info .headline {
  padding-bottom: 0.5rem;
}
body.page-template-resources .intro .info .headline h2 {
  color: #759aaf;
}
body.page-template-resources .resources-list {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
  margin-top: -2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-resources .resources-list {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-resources .resources-list {
    margin-top: 4rem;
  }
}
body.page-template-resources .resources-list .resources-grid {
  display: grid;
  gap: 4rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
}
body.page-template-resources .resources-list .description {
  padding-bottom: 1rem;
}
body.page-template-resources .resources-list .link-list li + li {
  padding-top: 0.25rem;
}

body.page-template-summit .work-tabs {
  padding: clamp(3rem, 7.5vh, 6rem) 0;
}
body.page-template-summit .work-tabs .tab-list {
  border-color: #396c83;
}
body.page-template-summit .work-tabs .tab-list a {
  border-color: #396c83;
  color: #396c83;
}
body.page-template-summit .work-tabs .tab-list a[aria-selected=true],
body.page-template-summit .work-tabs .tab-list a:hover {
  background-color: #396c83;
  color: #fff;
}
body.page-template-summit .work-tabs .tab-panel {
  padding-top: 1rem;
}
body.page-template-summit .work-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
}
body.page-template-summit .tab-header {
  padding: 1rem;
  background: rgba(57, 108, 131, 0.1);
  border: 1px solid rgba(57, 108, 131, 0.3);
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.page-template-summit .tab-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  letter-spacing: 0.05em;
  color: #396c83;
}
body.page-template-summit .no-results {
  grid-column: 1/-1;
}
body.page-template-summit .filter label {
  display: block;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
  letter-spacing: 0.05em;
  font-weight: bold;
  padding-bottom: 0.25rem;
}
body.page-template-summit .filter select {
  min-width: 12rem;
}
body.page-template-summit .work-item {
  border: 2px solid #7c986a;
  border-radius: 0.25rem;
  box-shadow: unset;
}
body.page-template-summit .work-item__headline {
  padding: 1.5rem;
  background: #7c986a;
}
body.page-template-summit .work-item__title {
  font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  font-weight: 400;
  line-height: 1.25em;
  color: #fff;
}
body.page-template-summit .work-item .copy > * + * {
  margin-top: 1rem;
}
body.page-template-summit .work-item .copy a {
  color: #396c83;
  font-weight: bold;
}
body.page-template-summit .work-item .card__body {
  padding: 1.5rem 1.5rem;
}