.intro {
    @include section-spacing-bottom;
    gap: 2rem;

    .info {
        @include desktop-small {
            grid-column: 3 / span 8;
        }

        .headline {
            padding-bottom: 0.5rem;

            h3 {
                font-size: $type-size-500;
                color: $blue-muted;
            }
        }

        blockquote {
            background: $orange-muted;
            padding: 2rem;

            @include desktop-small {
                float: right;
                width: 25rem;
                margin-right: -10rem;
                margin-left: 2rem;
            }

            p {
                font-family: $big-noodle-tilting;
                color: $white;
                font-size: $type-size-700;
                letter-spacing: 0.02em;
                line-height: 1.25em;
            }
        }
    }
}
