.map {
    @include section-spacing;
    background: $off-white;

    .info {
        padding-bottom: 2rem;
        @include desktop-small {
            grid-column: 2 / span 7;
        }
    }

    .headline {
        padding-bottom: 0.5rem;

        h3 {
            font-size: $type-size-700;
            color: $green-muted;
        }
    }

    .cta {
        padding-top: 2rem;
        .btn {
            background: $green-muted;
            border-radius: 8px;
        }
    }

    .how-to {
        @include desktop-small {
            margin-bottom: 2rem;
            grid-column: 10 / span 4;
        }
    }

    .photo {
        grid-column: 1 / -1;
        padding: 2rem;

        a {
            display: block;
        }

        img {
            width: 100%;
        }
    }
}
