section.about {
    padding: $section-spacing;

    .about-copy {
        text-align: center;
        font-size: $type-size-400;

        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .whats-new {
        margin-top: $spacer;
        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        a {
            font-weight: bold;
        }
    }
}
