section.hero {
    --heroHeight: clamp(400px, 60vh, 600px);

    @include desktop-small {
        --heroHeight: clamp(400px, 80vh, 800px);
    }

    .swiper {
        height: var(--heroHeight);
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: rgba(0, 0, 0, 0.5);
        display: block;
        color: $white;
        width: 2rem;
        height: 3rem;
        transition: all 0.2s ease;

        &:hover {
            background: rgba(0, 0, 0, 0.66);
        }

        &:after {
            content: '';
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            z-index: 10;
            width: 1.5rem;
            height: 1.5rem;
            top: calc(50% - 0.75rem);
        }
    }

    .swiper-button-prev {
        left: 0;

        &:after {
            left: calc(50% - 0.875rem);
            background-image: url(../src/svgs/chevron-left.svg);
        }
    }

    .swiper-button-next {
        right: 0;

        &:after {
            right: calc(50% - 0.875rem);
            background-image: url(../src/svgs/chevron-right.svg);
        }
    }

    .swiper-pagination-bullet {
        background: rgba(255, 255, 255, 0.75);
        opacity: 1;
        width: 0.75rem;
        height: 0.75rem;
        margin: 0 0.375rem;

        &-active {
            background: $green;
        }
    }

    .hero-slide {
        display: grid;
        place-items: center center;

        .photo {
            grid-row: 1;
            grid-column: 1;
            z-index: 1;
            width: 100%;
            height: var(--heroHeight);
            @include cover-fill-image;
        }

        .info {
            grid-row: 1;
            grid-column: 1;
            z-index: 2;
            text-align: center;
            color: $white;
            padding: 0 2rem;

            .headline {
                max-width: 60rem;
                margin: 0 auto;

                h1 {
                    font-size: $type-size-1000;
                    font-weight: normal;
                    line-height: 1.125em;
                    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
                    font-family: $big-noodle-tilting;

                    @include tablet {
                        font-size: $type-size-1200;
                    }

                    @include desktop-small {
                        font-size: $type-size-1500;
                    }
                }
            }

            .cta {
                padding-top: 2rem;

                .btn {
                    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);

                    &:hover {
                        box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
    }
}
