section.links {
    padding: $section-spacing;
    background: $off-white;

    .link-grid {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        align-items: stretch;
    }

    .link-item {

        a {
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 2rem;
            transition: all 0.2s ease-in;

            &:hover {
                background: rgba($blue-muted, 0.1);
            }
        }

        .icon {
            width: 3rem;

            img {
                display: block;
            }
        }

        .info {
            flex: 1;
            padding-left: 1rem;
            min-height: 10rem;
        }
        

    }
}