.page-header {
    .page-title {
        padding-bottom: 0.5rem;
        border-bottom-width: 0.5rem;
        border-bottom-style: solid;
        margin-bottom: 1rem;

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .headline {
        padding-bottom: 3rem;

        h2 {
            font-weight: 400;
            font-style: italic;
            font-size: $type-size-400;
        }
    }

    .info {
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .sub-headline {
        display: flex;
        align-items: center;

        .logo {
            width: 3rem;
        }

        h2 {
            flex: 1;
            font-weight: normal;
            font-size: $type-size-400;
            padding-left: 1rem;
        }
    }

    .copy {
        padding-top: 0.5rem;
        padding-left: 4rem;
    }
}
