.tabs {
    @include section-spacing-bottom;

    .tab-panel {
        .tab-grid {
            display: grid;
            align-items: start;
            gap: 2rem;
            grid-template-columns: repeat(8, 1fr);

            & > * {
                grid-column: 1 / -1;
            }
        }

        .basic-info {
            @include desktop-small {
                grid-column: 1 / span 5;
            }
            .headline {
                padding-bottom: 0.5rem;

                h3 {
                    font-weight: normal;
                    font-size: $type-size-500;
                }
            }
        }

        .vitals {
            @include desktop-small {
                grid-column: 6 / span 4;
            }

            .vital {
                display: flex;
                padding: 1rem;

                &:nth-child(odd) {
                    background: $off-white;
                }

                .key {
                    width: 8rem;
                    padding-right: 2rem;
                    h5 {
                        font-size: $type-size-150;
                        line-height: 1.5em;
                    }
                }

                .value {
                    flex: 1;
                    font-size: $type-size-150;
                    line-height: 1.5em;
                }
            }
        }

        .results {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 2rem;
            width: 100%;

            & > * {
                max-width: 40rem;
            }
        }

        .graphs {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

            .graph {
                padding: 2rem;
                border: 1px solid rgba(0, 0, 0, 0.05);
                box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px,
                    rgba(0, 0, 0, 0.05) 0px 18px 36px -18px;
                border-radius: 5px;
            }

            img {
                width: 100%;
            }

            .caption {
                padding-top: 1rem;

                p {
                    font-size: $type-size-100;
                    line-height: 1.5em;
                }
            }
        }
    }
}
