.intro {
    @include section-spacing-bottom;
    gap: 2rem;
    align-items: end;

    .photo {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 1;
            grid-column: 3 / span 8;
        }
    }

    .card {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-row: 1;
            grid-column: 9 / span 4;
            transform: translateY(8vh);
        }
    }
}
