.projects {
    @include section-spacing;

    &.no-tabs {
        padding-top: 0;
    }

    .tab-list {
        border-color: $green-muted;
    }

    .tab-list a {
        border-color: $green-muted;
        color: $green-muted;
    }

    .tab-list a[aria-selected='true'],
    .tab-list a:hover {
        background-color: $green-muted;
        color: $white;
    }

    .section-title {
        color: $slate;

        &:after {
            background-color: $green-muted;
        }
    }

    .project-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-auto-rows: 1fr;
    }

    .project {
        padding: 2rem;
        border: 2px dashed rgba(0, 0, 0, 0.25);
        border-radius: 1rem;

        .headline {
            padding-bottom: 1rem;

            h3 {
                font-size: $type-size-400;
                line-height: 1.25em;
                color: $green-muted;
            }
        }

        .copy {
            & > * + * {
                margin-top: 1rem;
            }

            a {
                color: $green-muted;
                font-weight: bold;
            }
        }
    }
}
