.request {
    @include section-spacing-bottom(margin);

    &-container {
        background: $orange-muted;
        color: $white;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px,
            rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
        padding: 2rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 2rem 1fr;

        @include desktop-small {
            grid-column: 3 / span 10;
        }
    }

    .icon {
        padding-top: 0.25rem;

        img {
            width: 100%;
        }
    }

    .headline {
        h3 {
            font-size: $type-size-400;
        }
    }

    .copy {
        padding: 0.5rem 0 1.5rem 0;
    }

    .cta {
        .btn {
            font-size: $type-size-150;
            padding: 1rem 1.25rem 0.875rem 1.25rem;
            border-radius: 8px;

            &:hover {
                background: $white;
                color: $orange-muted;
            }
        }
    }
}
