.goals-strategies {
    padding: $section-spacing-x2;

    .content-section {
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        & + .content-section {
            margin-top: 4rem;

            @include desktop-small {
                margin-top: 8rem;
            }
        }

        .photo {
            grid-column: 1 / -1;
            max-width: 720px;
            margin: 0 auto;

            @include desktop-small {
                max-width: 100%;
                grid-column: 1 / span 6;
                grid-row: 1;
            }

        }

        .info {
            grid-column: 1 / -1;
            z-index: 10;
            background: $white;
            border-radius: 3px;
            box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
            margin: -12.5% 1rem 0 1rem;


            @include tablet {
                margin: -12.5% 0 0 0;
                grid-column: 2 / span 6;
            }

            @include desktop-small {
                grid-column: 5 / span 4;
                grid-row: 1;
                margin-top: 25%;
            }

            .headline {
                padding: 2rem;
                color: $white;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                overflow: hidden;

                h4 {
                    font-size: $type-size-500;
                    padding-bottom: 0.25rem;
                }

                h5 {
                    font-size: $type-size-300;
                    font-weight: normal;
                }
            }

            .copy {
                padding: 2rem;

                li + li {
                    margin-top: 0.25rem;
                }
            }
        }
    }

    .goals {
        .headline {
            background: $blue-muted;
        }

    }

    .strategies {
        .photo {
            @include desktop-small {
                grid-column: 3 / span 6;
            }
        }

        .info {
            @include desktop-small {
                margin-top: 50%;
                grid-column: 1 / span 4;
            }
        }

        .headline {
            background: $green-muted;
        }
    }
}
