.about-page-header {
    padding-bottom: $spacer;

    .video {
        aspect-ratio: 16 / 9;
        
        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .info {
        padding-top: 2rem;

        @include desktop-small {
            grid-column: 3 / span 8;
            padding-top: 4rem;
        }

        .headline {
            padding-bottom: 1rem;
        }
    }


}