.partners {
    align-items: center;
    padding: $section-spacing;
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    &:after {
        content: '';
        display: block;
        background: rgba(0, 0, 0, 0.33);
        position: absolute;
        inset: 0;
        z-index: 1;

    }

    & > div {
        z-index: 5;
    }

    .list {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: auto;
    }

    .partner {
        margin: 0.5rem;

        &-link {
            display: block;
            color: $white;
            border: 2px dotted $white;
            border-radius: 3px;
            padding: 0.5rem 0.75rem;
            font-size: $type-size-100;
            font-weight: bold;
            letter-spacing: 0.02em;
            transition: all 0.2s ease;
            background: rgba($green, 0.15);

            &:hover {
                background: rgba($green, 0.5);
            }
        }
    }

    span.partner-link {
        &:hover {
            background: rgba($green, 0.15);
            cursor: default;
        }
    }
}