.vision-mission {
    padding: $section-spacing;
    background: #fafafa;

    & > div {
        @include tablet-small {
            grid-column: 3 / span 6;
        }
        @include desktop-small {
            border-left: 0.25rem solid;
            padding: 0.5rem 1rem 0.5rem 2rem;
        }        
    }

    .headline {
        padding-bottom: 0.5rem;
        h4 {
            font-size: $type-size-500;
        }
    }

    .copy {
        @include desktop-small {
            max-width: 32rem;
        }        
    }

    .vision {
        border-left-color: $green-muted;

        @include desktop-small {
            grid-column: 2 / span 6;
        }

        .headline {
            h4 {
                color: $green-muted;
            }
        }
    }


    .mission {
        border-left-color: $blue-muted;
        margin-top: 3rem;;

        @include desktop-small {
            margin-top: 0;
            grid-column: 8 / span 6;
        }

        .headline {
            h4 {
                color: $blue-muted;
            }
        }
    }
}