.hamburger {
    grid-column: 5 / span 1;
    position: relative;

    @include tablet-small {
        grid-column: 6 / span 4;
    }

    @include desktop-small {
        display: none;
    }

    a {
        width: 2rem;
        height: 22px;
        display: flex;
        align-items: center;
        margin-left: auto;
        position: relative;

        .patty {
            width: 2rem;
            height: 2px;
            background: $blue;
            border-radius: 2px;
            margin-left: auto;
            transition: all 0.2s;
            position: relative;

            &:after, &:before {
                content: '';
                display: block;
                width: 2rem;
                height: 2px;
                background: $blue;
                position: absolute;
                z-index: 1;
                border-radius: 2px;
                transition: all 0.2s;
            }

            &:before {
                top: -8px;
            }

            &:after {
                top: 8px;
            }
        }
    }
}