.site-header {
    border-top: 0.5rem solid $blue-muted;
    padding: 2rem 0;
    align-items: center;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.05);

    @import 'logo';

    @import 'desktop-navigation';

    @import 'hamburger';
}

@import 'mobile-navigation';

@import 'nav-overlay-open';
