.mobile-nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: -75vw;
    width: 75vw;
    max-width: 30rem;
    height: 100vh;
    background: $white;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.35) 0px 8px 16px -8px;
    opacity: 0;

    @include tablet {
        left: -22rem;
        width: 22rem;
    }

	&-wrapper {
		height: 100vh;
		@include scroll-y;
        padding-bottom: 4rem;
	}

    .site-logo {
        padding: 2rem 1rem 1rem 1rem;

        a {
            display: block;

            img {
                width: clamp(15rem, 20vw, 18rem)
            }
        }
    }

    ul {
        &.sub-links {
            display: none;

            &.active {
                display: block;
                .sub-link:last-child {
                    padding-bottom: 1rem;
                }
            }
        }

        li {
            a {
                color: $blue;
                display: block;
                transition: all 0.2s ease-in;

                &:hover {
                    color: $blue;
                }
            }

            &.main-link {
                & > a {
                    font-size: $type-size-300;
                    padding: 1rem 2rem;
                }
            }

            &.sub-link {
                & > a {
                    padding: 0.5rem 1rem 0.5rem 3rem;
                    font-size: $type-size-200;
                    color: $slate;

                    &:hover {
                        color: $blue;
                    }

                }
            }

            .section-header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .arrow {
                    margin-top: 1px;
                    display: block;
                    width: 0.875rem;
                    height: 0.4375rem;
                    margin-left: 0.5rem;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: grayscale(100%);
                        transition: all 0.2s ease-in;
                    }                    
                }

                &:hover {
                    .arrow {
                        img {
                            filter: grayscale(0);
                        }
                    }
                }
            }

            &.dropdown {
                &.active {
                    .section-header {
                        color: $blue;

                        .arrow {
                            img {
                                transform: rotate(180deg);
                                filter: grayscale(0);
                            }
                        }
                    }
                }
            }
        }
    }
}