.intro {
    align-items: end;

    .photo {
        aspect-ratio: 16 / 9;
        @include cover-fill-image;

        @include tablet {
            grid-row: 1;
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 9;
        }

        img {
            object-position: top center;
        }
    }

    .info {
        background: $white;
        border-radius: 3px;
        box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px,
            rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
        padding: 2rem;
        margin: 0 1rem;
        transform: translateY(-2rem);

        @include tablet {
            margin: 0 2rem;
            grid-row: 1;
            grid-column: 3 / span 6;
            transform: translateY(8rem);
        }

        @include desktop-small {
            grid-column: 9 / span 5;
            margin: 0;
            transform: translateY(4rem);
        }

        .headline {
            padding-bottom: 0.5rem;

            h2 {
                color: $blue-muted;
            }
        }
    }
}
