.resources-list {
    padding: $section-spacing;
    margin-top: -2rem;

    @include tablet {
        margin-top: 8rem;
    }

    @include desktop-small {
        margin-top: 4rem;
    }

    .resources-grid {
        display: grid;
        gap: 4rem 3rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        align-items: start;
    }

    .description {
        padding-bottom: 1rem;
    }

    .link-list {
        li + li {
            padding-top: 0.25rem;
        }
    }
}
