.cta {
    .btn {
        display: inline-block;
        background: $green;
        color: $white;
        font-weight: bold;
        font-size: $type-size-200;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1em;
        padding: 1rem 1.5rem 0.875rem 1.5rem;
        transition: all 250ms ease;

        @include tablet {
            font-size: $type-size-300;
            padding: 1.25rem 2rem;
        }

        &:hover {
            transform: translateY(-1px);
        }

        &.white-outline {
            background: transparent;
            border-radius: 3px;
            border: 2px solid $white;
        }

        &.small {
            font-size: $type-size-200;
            padding: 0.875rem 1.25rem 0.75rem 1.25rem;
        }
    }
}
