.card {
    background: $white;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;

    &-header {
        color: $white;
        padding: 2rem;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;

        h3 {
            font-size: $type-size-400;
            font-weight: normal;
        }
    }

    &-body {
        padding: 2rem;

        li + li {
            margin-top: 0.25rem;
        }
    }

    &-small {
        .card-header {
            padding: 1rem 2rem;
        }
    }

    &.blue {
        .card-header {
            background: $blue-muted;
        }

        .card-body {
            a {
                color: $blue-muted;
            }
        }
    }

    &.green {
        .card-header {
            background: $green-muted;
        }

        .card-body {
            a {
                color: $green-muted;
            }
        }
    }

    &.orange {
        .card-header {
            background: $orange-muted;
        }

        .card-body {
            a {
                color: $orange-muted;
            }
        }
    }
}
