.page-header {
    padding: clamp(3rem, 7vh, 4rem) 0 clamp(1.5rem, 3.5vh, 2rem) 0;

    h1 {
        padding-bottom: 0.5rem;
        border-bottom-width: 0.5rem;
        border-bottom-style: solid;
        margin-bottom: 1rem;
    }
}
