.tabs {
    .tab-list {
        display: flex;
        align-items: flex-end;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        overflow-x: scroll;

        a {
            display: block;
            font-size: $type-size-100;
            letter-spacing: 0.075em;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0.5rem 0.75rem;
            border-width: 2px;
            border-style: solid;
            border-bottom: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            white-space: nowrap;
            margin-left: 0.5rem;

            &[aria-selected='true'],
            &:hover {
                color: $white;
            }
        }
    }

    .tab-panel {
        padding-top: 2rem;
        min-height: 50vh;
    }
}
