@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

$lato: 'Lato', sans-serif;

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../src/fonts/BigNoodleTitling.woff2') format('woff2'),
        url('../src/fonts/BigNoodleTitling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../src/fonts/BigNoodleTitling-Oblique.woff2') format('woff2'),
        url('../src/fonts/BigNoodleTitling-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

$big-noodle-tilting: 'BigNoodleTitling', sans-serif;
