body.post-type-archive-projects {
    .project-group {
        padding-bottom: 6rem;
    }

    .section-header {
        .section-title {
            color: $green-muted;

            &:after {
                background: $green-muted;
            }
        }
        .copy {
            padding-top: 1rem;
            max-width: 780px;
        }
    }

    .project-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

        .project {
            .photo {
                aspect-ratio: 16 / 9;
                @include cover-fill-image;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                padding-top: 0.5rem;

                h3 {
                    font-size: $type-size-200;
                    line-height: 1.125em;
                    font-weight: normal;

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
