body.post-type-archive-success_stories {
    .post-list {
        @include section-spacing-bottom;
    }
    .teaser {
        display: grid;
        gap: 2rem;
        align-items: end;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
            grid-template-columns: repeat(10, 1fr);

            @include section-spacing-bottom;
            & + .teaser {
                @include section-spacing;
            }
        }

        .photo {
            @include desktop-small {
                grid-column: 1 / span 8;
                grid-row: 1;
            }
        }

        .info {
            background: $white;
            border-radius: 3px;
            box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 60px -12px,
                rgba(0, 0, 0, 0.15) 0px 18px 36px -18px;
            padding: 2rem;
            margin: 0 1rem;
            transform: translateY(-3.5rem);

            @include desktop-small {
                grid-column: 6 / span 5;
                grid-row: 1;
                transform: translateY(6rem);
            }

            .date {
                padding-bottom: 0.25rem;

                h4 {
                    text-transform: uppercase;
                    color: $orange-muted;
                    letter-spacing: 0.05em;
                    font-size: $type-size-100;
                    opacity: 0.75;
                }
            }

            .headline {
                padding-bottom: 0.5rem;

                h3 {
                    line-height: 1.25em;

                    a {
                        color: $dark-blue;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .cta {
                padding-top: 1rem;

                .underline {
                    display: inline-block;
                    font-size: $type-size-200;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-weight: bold;
                    color: $green-muted;

                    border-bottom: 2px dotted;
                }
            }
        }

        &:nth-child(odd) {
            .photo {
                @include desktop-small {
                    grid-column: 3 / span 8;
                }
            }

            .info {
                @include desktop-small {
                    grid-column: 1 / span 5;
                }
            }
        }
    }
}
