body.single-projects {
    
    .project-content {
        padding-bottom: clamp(4rem, 15vh, 8rem);
        align-items: start;

        .featured-image {
            margin-bottom: 4rem;
            aspect-ratio: 16 / 7;
            @include cover-fill-image;

            @include desktop-small {
                grid-column: 2 / span 8;
            }

            @include desktop-medium {
                grid-column: 2 / span 9;
            }

        }

        .copy {
            @include desktop-small {
                grid-column: 4 / span 6;
            }
        }
    }

    .before-and-after {
        margin-top: 5rem;
        background: $orange-muted;
        padding: 2rem;

        @include desktop-small {
            grid-column: 3 / span 9;
        }
    }

    @import 'single-projects/sidebar';
}